.message {
  &__preview {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.25rem;
    border-top: 1px solid black;

    h6 {
      font-weight: bold;
      line-height: 1.5rem;
    }

    &:first-of-type {
      border: none;
    }
  }
}