.message {
  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.25rem;
    border-top: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    color: black;

    h6 {
      font-weight: bold;
      line-height: 1.5rem;
    }

    &:first-of-type {
      border: none;
    }

    &:hover {
      background-color: #d4d4d4;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    h2 {
      font-weight: bold;
      font-size: 2rem;
      line-height: 3rem;
    }

    hr {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    line-height: 125%;

    h4 {
      font-weight: bold;
      margin-right: 0.5rem;
    }
  }
}
